* {
	margin-top: 50px;
}

.item {
	width: 200px;
	height: 200px;
	background: lightgray;
	font-size: 50px;
	        -webkit-animation: rotate is infinite;
	                animation: rotate is infinite;
}



@-webkit-keyframes rotate {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(360deg);
	}
}



@keyframes rotate {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(360deg);
	}
}
